/*
 * ++++++++++++++++++++++++
 * Authentication css
 * ++++++++++++++++++++++++
 */
.auth-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
    background-color: #fcfcfc;
    a, p > a {
        color: #2bb58e;
        font-weight: 400;
    }
    .btn-auth-gen {
        .btn-icon {
            width: 140px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 45px;

            small {
                font-size: 15px;
            }
        }
    }
    .input-group{
        background: transparent;
    }
    .card {
        margin-bottom: 0;
    }

    > div {
        z-index: 5;
    }

    .auth-content {
        position: relative;
        width: 390px;
        padding: 15px;
        z-index: 5;
        &.multyform,
        &.subscribe {
            width: 750px;
        }
    }
    @media only screen and (max-width: 768px) {
        max-width: 360px;

    }
    @media only screen and (max-width: 575px) {
        .card {
            .card-body {
                padding: 30px 15px;
            }
        }
    }

    .auth-icon {
        font-size: 30px;
        &:before {
            background: #ff0000;
            background-clip: inherit;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &.offline {
        background-image: none;

        &:before {
            display: none;
        }
    }

    .auth-bg {
        .r {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;


            &:first-child {
                top: -100px;
                right: -100px;
                background: #ff0000;
            }

            &:last-child {
                left: -100px;
                bottom: -100px;
                background: #ff0000;

            }

            &.s {
                width: 20px;
                height: 20px;
                &:nth-child(2) {
                    top: 150px;
                    right: -150px;
                    background: #ff0000;
                }

                &:nth-child(3) {
                    left: -150px;
                    bottom: 150px;
                    background: #ff0000;
                }
            }

            &:nth-child(odd) {
                animation: floating 7s infinite;
            }

            &:nth-child(even) {
                animation: floating 9s infinite;
            }
        }
    }
}
/* image variant start */
.aut-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.aut-bg-img-side{
    p{
        line-height: 2;
    }
}
.aut-bg-img,
.aut-bg-img-side{
    .custom-select, .form-control{
        background: transparent;
    }
}
.auth-tabs{
    .tab-content{
        overflow: hidden;
        position: relative;
        .tab-pane > *{
            position: relative;
            z-index: 5;
        }
        .auth-icon{
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 180px;
            transform: rotate(-30deg);
            z-index: 1;
            opacity: 0.2;
        }
    }
}
@keyframes floating {
    from {
        transform: rotate(0deg) translate(-50px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-50px) rotate(-360deg);
    }
}



/*
 * ++++++++++++++++++++++++
 * Sign Up & Login
 * ++++++++++++++++++++++++
 */

.form_wrapper {
	background: #fff;
	box-sizing: border-box;
	// margin: 8% auto 0;
	position: relative;
	z-index: 1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;

    .icon-lg{
        color: #2bb58e;
    }

    & h3{
        margin-bottom: 30px;
        margin-top: 10px;
        font-family: 'Piazzolla', serif;
    }

	.input_field {
		position: relative;
		margin-bottom: 20px;
        -webkit-animation: bounce 0.6s ease-out;
        animation: bounce 0.6s ease-out;
        text-align: left;
           
		& span {
			position: absolute;
			left: 0;
			top: 0;
			color: #62ad98;
			height: 100%;
			text-align: center;
            width: 35px;
            
			& i {
                padding-top: 14px;
			}
		}
	}
	input {
        &[type="text"], &[type="email"], &[type="password"] {
            width: 100%;
            padding: 8px 10px 9px 42px;
            height: 45px;
            border: 1px solid #cccccc;
            box-sizing: border-box;
            outline: none;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
        }
        &[type="text"]:hover, &[type="email"]:hover, &[type="password"]:hover {
            background: #fcfcfc;
        }
        &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus {
            -webkit-box-shadow: 0 0 2px 1px rgba(133, 245, 221, 0.5);
            -moz-box-shadow: 0 0 2px 1px rgba(133, 245, 221, 0.5);
            box-shadow: 0 0 2px 1px rgba(133, 245, 221, 0.5);
            background: #fcfcfc;
        }
        &[type="checkbox"] {
            content: '';
            // position: absolute;
            left: 0;
            top: 0;
            width: 1.15em;
            height: 1.15em;
            border: 2px solid #ccc;
            background: #fff;
            border-radius: 4px;
            margin-right: 10px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        }
    }

    & button{
        &[type="submit"] {
            background: #2bb58e;
            height: 45px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            width: 100%;
            border: 1px solid #2bb58e;
            border-radius: 0;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-size: 1.1em;
            margin: 18px 0 30px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
            &:hover {
                background: darken(#2bb58e,7%);
            }
            &:focus {
                background: darken(#2bb58e,7%);
            }
        } 
    }
}

.checkbox{
    display: flex;
    justify-content: start;
    align-items: center;

    & label{
        margin-bottom: 0;
        font-size: 12px;
    }
}

.select_option {
    position: relative;
    width: 100%;

    select {
        display: inline-block;
        width: 100%;
        height: 45px;
        padding: 0 0 0 42px;
        cursor: pointer;
        color: #7b7b7b;
        border: 1px solid #cccccc;
        background: #fff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: all 0.2s ease;

        &::-ms-expand {
            display: none;
        }

        &:hover, &:focus {
            background: #fcfcfc;
            border-color: #cccccc;
            outline: none;
        }
    }
}
.select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}

.select_option select {
    &:hover + .select_arrow, &:focus + .select_arrow {
        border-top-color: #000;
    }
}

.forgot-password{
    font-size: 14px;
    color: #2bb58e;
    text-align: left;
    padding: 0;
    margin: 0;
}

@-webkit-keyframes check {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 7px; }
  50% { height: 20px; width: 7px; }
}

@keyframes check {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 7px; }
  50% { height: 20px; width: 7px; }
}

@-webkit-keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); opacity:0; }
	25% { -webkit-transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1);  opacity:1; }
}

@keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1);  opacity:0; }
	25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1);  opacity:1; }
}

@-webkit-keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}

#hint {
    display: none;
    color: #252525;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 109%;
    width: 200px;
    border-radius: 10px;
    background: #e1e1e1;
    padding: 10px;
    box-shadow: 1px 0 2px #777;
    list-style: none;
}
#hint:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -27px; 
    border-top: 12px solid transparent; 
    border-right: 26px solid #e1e1e1; 
    border-bottom: 12px solid transparent;
    list-style: none;
}
#password:focus ~ #hint {
    display: block;
}



/*
 * ++++++++++++++++++++++++
 * Login
 * ++++++++++++++++++++++++
 */